<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<p method="POST" action="">
    {% csrf_token %}
 <input type="text" name="username" id="username">
  <input type="submit" id="submit" value="submit">
    <p id="show">send sucess </p>
  </form>
 <script>
     $(document).ready(function(){
     $("#show").hide();
        $('#submit').click(function(){
        var value=document.getElementById.value
     $.ajax({
            url:"{% url 'search' %}",
            method:"POST",
            data:{value:value,
            csrfmiddlewaretoken:"{{csrf_token}}"},
            success:function(data){
                $("#show").show();
                }
                }) }) });

   </script>